*~
*\#*\#
*.\#*
*.elc
flycheck_*.el
/.eldev
/Eldev-local
elpa*
.depend
TAGS
.DS_STORE
dist
.vagrant/
lisp/cider-autoloads.el
.dir-locals?.el
lisp/cider-pkg.el
cider-refcard.aux
cider-refcard.log
doc/auto/
test/*.edn
